@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  background-color: #F5EEE3;
  color: #161717;
  min-height: 100vh;
  font-size: 1.25rem;
}

.container {
  max-width: 65vw;
  margin: 0 auto;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 2em;
}


