/* Navigation */

.vertical-buttons {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* stack vertically */
    gap: 10px; /* space between buttons */
}

.vertical-buttons li a {
    display: block;           /* makes the entire link clickable */
    padding: 10px;
    background-color: #D20000;
    color: #FFFBF4;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Suwannaphum", serif;
}

.vertical-buttons li a:hover {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .vertical-buttons li a {
        font-size: 1.2em;
        padding: 8px;
    }
}

.logbook-link {
    color: #D20000;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Suwannaphum", serif;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.logbook-link:hover {
    opacity: 0.5;
}