/* Prevent train images from squishing on small screens */
.train-img {
  width: 100vw;
  min-width: 600px;
  max-width: 100vw;
  height: auto;
  min-height: 120px;
  object-fit: contain;
  display: block;
  margin: 0;
}
@media (max-width: 600px) {
  .train-img {
    min-width: 100vw;
    min-height: 80px;
  }
}
