p{
    margin-top: .5em;
}
h1{ 
    font-size: 3em;
    font-weight: extrabold;
    background-color: #D20000;
    border-radius: 8px;
    color: #FFFBF4;
    padding: 0.5em;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
}
h2{ 
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
}